section.partners .logos {
    position: relative;
    z-index: 10;
    padding: 60px 0;
    white-space: nowrap;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

section.partners .logos div.logo {
    flex-basis: calc(20% - 10px);
    margin-bottom: 50px;
}

section.partners .logos div.logo img {
    max-width: 100%;
    height: auto;
}
